body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  .dashboard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
  
h1 {
    font-size: 24px;
    color: #333;
}
  
.sensor-data {
    margin-top: 5px;
}
  
h2 {
    font-size: 18px;
    color: #555;
}
  
p {
    font-weight: bold;
    color: #007bff;
}